---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome, wanderer!</h1>
			<p>
				You've stumbled upon the digital abode of someone you don't know and likely never will. 
					Don't worry, your visit here isn't a mistake. 
						It's an appointment with destiny, or at least with a few of my thoughts.
			</p>
			<p>
				I'm not here to sell you anything, convince you of my brilliance, or even make much sense. 
Instead, this site is a carefully curated collection of half-baked ideas, 
																		 things I've learned that have no practical value, 
and the occasional digital specter of a project that was never finished.


			</p>
			<p>Feel free to click around. Just be warned: the buttons are not always what they seem, the links may lead to somewhere you didn't expect, 
and the path you take may not be the one you think you're on.

</p>
			<p>
				Why am I doing this? Why are you reading this? These are excellent questions. 
			And I can assure you that if you hang around long enough, they will only beget more questions. 
		Enjoy your stay, or don't. The choice, I suppose, is yours, but the consequences are mine.
			</p>


		</main>
		<Footer />
	</body>
</html>
